body {
    background-image: url("images/desktop-wallpaper-aesthetic-black-cat-header-novocom-top-aesthetic-black-cats\ \(2\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: black;
}

p {
    color:azure;
    text-align:center;
}